@model CoffeeAdmin.Models.Coffee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Coffee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamaKopi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaKopi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AsalKopi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AsalKopi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JenisKopi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JenisKopi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeskripsiKopi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeskripsiKopi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
